@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;1,100;1,200;1,300;1,400;1,500&display=swap");

/* ------------------------ Colors */

body {
    background-color: black;
    color: antiquewhite;
    font-family: 'Montserrat', sans-serif;
}

header {
    margin: 5px;
}

#logo {
    text-decoration: none;
    float: left;
    margin-top: 0;
    color: antiquewhite;
    float: left; 
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 4px;
    font-weight: 300;
}


.navbar {
    list-style-type: none;
    margin: 0;
    padding-top: 10px;
    text-align: right; 
}


.nav-link {
    display: inline;
    padding-left: 30px;
    font-size: large;
    text-align: right; 
}

.nav-link a {
    text-decoration: none;
    color: antiquewhite; 
    font-family: 'Montserrat', sans-serif;
    font-weight: 300; 
    letter-spacing: 3px;
}

/* -------------------- hero image */

#hero-image-container {
    display: flex; 
    height: 600px;
    width: auto;
    overflow: hidden;
}

#hero-image {
    max-width: 100%;
    height: auto;
    justify-content: center;
}
